# -------------------------------------------------------------------------
# RUST & CARGO (Build Artifacts)
# -------------------------------------------------------------------------
/target/

**/*.rs.bk

# -------------------------------------------------------------------------
# SECRETS and Enviroments (CRITIC)
# -------------------------------------------------------------------------
.env
.env*
*.env

# Create exception for .evn.exmaple
!.env.example

# -------------------------------------------------------------------------
# DATABASE AND DOCKER
# -------------------------------------------------------------------------
postgres_data/
redis_data/
pg_data/

*.sql
*.dump

docker-compose.override.yml


# -------------------------------------------------------------------------
# IDEs and OS
# -------------------------------------------------------------------------

.vscode/
.idea/
.DS_Store
Thumbs.db